<div class="relative">

  <img src="assets/images/bulle.jpg" class="absolute inset-0 h-full w-full object-cover" alt="" />
  <div class="relative bg-emerald-700 bg-opacity-70">
    <svg class="absolute inset-x-0 -bottom-1 text-green-primary" viewBox="0 0 1160 163">
      <path fill="currentColor"
        d="M-164 13L-104 39.7C-44 66 76 120 196 141C316 162 436 152 556 119.7C676 88 796 34 916 13C1036 -8 1156 2 1216 7.7L1276 13V162.5H1216C1156 162.5 1036 162.5 916 162.5C796 162.5 676 162.5 556 162.5C436 162.5 316 162.5 196 162.5C76 162.5 -44 162.5 -104 162.5H-164V13Z">
      </path>
    </svg>
    <div class="  relative mx-auto overflow-hidden  py-16  md:px-24  lg:py-20">
      <div class=" mr-5 md:mr-0   ms-5  flex flex-col items-center justify-between xl:flex-row row">
        <div class="mb-12  col-12 col-lg-6  ">
          <h2 class="mb-6  font-sans text-3xl font-bold tracking-tight text-white sm:text-7xl sm:leading-none">
            Retrouvez le guide et les l’ensemble des consignes de tri selon le flux </h2>


          <!-- <a href="#consignAll" aria-label=""
          class="inline-flex items-center font-semibold tracking-wider text-white transition-colors duration-200 hover:text-teal-300">
          Voir les consignes
        </a> -->
        </div>
        <div class="relative col-12 col-lg-5">
          <img class="w-100 h-auto" src="https://lemontri.tismatek.com//storage/LEMON/18-min.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</div>





<section class="py-20" id="consignAll">

  <h2 class="text-white text-center fw-bold text-4xl mb-3">Consigne</h2>
  <div class="container mx-auto">
    <div class="flex flex-row justify-center row">
      <div class=" col-6 col-lg-4" style="cursor: pointer;" (click)="open(show)" *ngFor="let show of displays">
        <article class="card rounded-xl bg-white p-3 shadow-lg hover:shadow-xl  mb-3">

            <div class="relative flex items-end overflow-hidden rounded-xl">
              <img src='{{ "https://lemontri.tismatek.com//storage/" + show.displayable_image}}' alt="" srcset="">

            </div>

            <div class="mt-1 p-2">
              <h2 class="text-slate-700"></h2>
              <p class="text-slate-400 mt-1 text-sm">{{show.title}}</p>

              <div class="mt-3 flex items-end justify-between">
                <p>
                  <span class="text-lg font-bold text-blue-500">{{show.consigne}}</span>
                </p>
              </div>
            </div>

          <!-- <button (click)="open(show)">Click</button> -->
        </article>







      </div>
    </div>
  </div>








</section>
<!-- <div  *ngIf="visible"> <h1>HELLO</h1></div> -->

<!--  -->




<a href="/" aria-label=""
class="inline-flex items-center font-semibold tracking-wider text-white transition-colors duration-200 hover:text-teal-300">
retourner à l'acceuil
</a>



<!-- <button (click)=" getConsigne() " -->
